* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1363DF;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 200px;
    margin-left: 80px;
}

nav {
    font-size: 1rem;
    font-weight: bold;
    width: 40vw;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px; 
    
}

a:hover {
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #06283D;
}

#about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #DFF6FF
}

.about {
    width: 40vw;
}

.about h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
    color: rgb(44, 42, 42);
   
}

.about p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    color: rgb(44, 44, 44);

}

.about button {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    padding: 5px;
    border-radius: 5px;
    background-color: #06283D;
    color:rgb(255, 255, 255);
    margin-top: 15px;
    font-weight: bold;
}

.about button:hover {
    background-color: #1363DF;
}

.image {
    padding: 10px 0 10px 0;
}

.image img {
    width: 40vw;
}

#boards {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #06283D;
}

#boards h2 {
    font-size: 2rem;
}

#boards p {
    font-size: 1rem;
}

.board-img {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.board-img div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.board-img img {
    border: 2px solid #1363DF;
    padding: 5px;
    border-radius: 20px;
    width: 15vw;
}

#quotes {
    background-color: #01AAC1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#quotes .container {
    width: 30vw;
    color: rgb(183, 255, 0);
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8))
}

.quote p {
    font-family: 'Tiro Telugu', serif;
    font-size: 1.5rem;
}

.author {
    display: flex;
    justify-content: flex-end;
}

.author p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #97ECC5;
    font-family: 'Montserrat', sans-serif;
}

.sign-up {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    margin-top: 50px;
    border-radius: 10px;
    color: white;
    background-color: #00649F;
}

.sign-up p {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 0 10px 0;
}

.sign-up button {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    padding: 5px;
    border-radius: 5px;
    background-color: #06283D;
    color:rgb(255, 255, 255);
    font-weight: bold;
}

.sign-up button:hover {
    background-color: #1363DF;
    border: 1px solid white;
}

.social-media {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.connect {
    display: flex;
    font-weight: bold;
    font-size: 1.2rem;
    color: #00649F;
    justify-content: center;
}

.icon {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    font-size: 2rem;
    color: #00649F;
}

footer {
    background-color: #1363DF;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    font-size: bold;
    color: white;
}

